body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  background-color: #ffffff;
  color: #2e2f42;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  color: #ffffff;
  line-height: 1.07;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 48px;
}

p {
  margin: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.16;
}

.logo .logo-web {
  color: #4d5ae5;
}

.logo .logo-studio {
  color: #2e2f42;
}

.page-header .container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.nav a:hover,
.nav a:focus {
  color: #404bbf;
}

.nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-left: 76px;
}

.nav-item {
  position: relative;
}

.nav-item.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;

  background-color: #404bbf;
  border-radius: 2px;
}

.nav-item.current .nav-link {
  color: #404bbf;
}

.nav a {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav ul {
  display: flex;
  gap: 40px;
}

.address {
  display: flex;
  margin-left: auto;
  gap: 40px;
}

.address a {
  font-style: normal;
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address a:hover,
.address a:focus {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
}

.solutions {
  background-color: #2e2f42;
  background-image:
    linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
  max-width: 1440px;
  margin: 0 auto;
}

.solutions .container {
  text-align: center;
}

h1 span {
  display: block;
}

.solutions h1 {
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-size: 16px;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  background-color: #404bbf;
  color: #ffffff;
}

.button:focus {
  background-color: #404bbf;
  color: #ffffff;
}

/* #region our-featured */
.icon-bg-features {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: #8e8f99 1px solid;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-features ul {
  display: flex;
  gap: 24px;
}

.our-features li {
  width: 264px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-features h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-features p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-features {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* #endregion our-featured */

/* #region our-team */
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team ul {
  display: flex;
  gap: 24px;
}

.our-team h2 {
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team h3 {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-team p {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-bottom: 8px;
}

.our-team li {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-team .team-card {
  display: block;
  width: 100%;
  padding: 32px 16px;
}

.our-team img {
  display: block;
}

.team-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-bg {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-socialmedia {
  fill: #f4f4fd;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .icon-socialmedia,
.social-link:focus .icon-socialmedia {
  fill: #ffffff;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* #endregion our-team */

/* #region our-portfolio */
.our-portfolio {
  padding: 120px 0;
}

.our-portfolio ul {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}

.our-portfolio li {
  width: 360px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio li:hover {
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

.our-portfolio h2 {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-portfolio h3 {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio p {
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.our-portfolio img {
  display: block;
}

.portfolio-card {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.our-portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(77, 90, 229, 1);
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay p {
  color: #f4f4fd;
}

.our-portfolio li:hover .overlay {
  transform: translateY(0);
}

/* #endregion our-portfolio */

.logo-footer {
  display: block;
  margin-bottom: 16px;
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
  font-size: 16px;
  padding: 100px 0;
}

.social-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.socialmedia-footer .social {
  gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #31d0aa;
}

.socialmedia-footer p {
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
}

.footer .container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer p {
  letter-spacing: 0.02em;
  max-width: 264px;
  margin-bottom: 16px;
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.16;
}

.logo-footer .logo-footer-web {
  color: #4d5ae5;
}

.logo-footer .logo-footer-studio {
  color: #f4f4fd;
}
